#### Importação das bibliotecas

In [2]:
# processamento de dados
import pandas as pd
import numpy as np

# dataviz
import matplotlib.pyplot as plt
import seaborn as sns

# filtrar avisos de erros
import warnings
warnings.filterwarnings('ignore')

#### Importação do dataset

In [6]:
path_dataset =  r'D:\Documentos\Projetos\student_performance_predictions_01-09-2024\Dados\student_performance.csv'

dados_orig = pd.read_csv(path_dataset)

dados_orig.head()

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade
0,1,John,Male,85,15,78,1,High,80
1,2,Sarah,Female,90,20,85,2,Medium,87
2,3,Alex,Male,78,10,65,0,Low,68
3,4,Michael,Male,92,25,90,3,High,92
4,5,Emma,Female,88,18,82,2,Medium,85

In [9]:
# verificando a dimensão do dataset
num_linhas, num_colunas = dados_orig.shape

print(f'Número de linhas: {num_linhas}')
print(f'Número de colunas: {num_colunas}')

Número de linhas: 10
Número de colunas: 9

Como é um dataset direcionado para estudo de machine learning possui um número pequeno de dados

In [10]:
# verificando tipo de dados
dados_orig.dtypes

StudentID                     int64
Name                         object
Gender                       object
AttendanceRate                int64
StudyHoursPerWeek             int64
PreviousGrade                 int64
ExtracurricularActivities     int64
ParentalSupport              object
FinalGrade                    int64
dtype: object

Os tipo de dados estão de acordo com as features

In [15]:
# verificando dados nulos e linhas duplicadas
print(f'Quantidade de dados nulos no dataset: {dados_orig.isnull().sum().sum()}')
print(f'Quantidade de linhas duplicadas no dataset: {dados_orig.duplicated().sum()}')

Quantidade de dados nulos no dataset: 0
Quantidade de linhas duplicadas no dataset: 0